@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #d1d5db;
} */

body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}